<!DOCTYPE html>
<html>
  <head>
    <title>Whitman Burke Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href="<%= image_path('favicon.png') %>">

    <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> -->
    <%= stylesheet_link_tag('main.css') %>
    <noscript><link rel="stylesheet" href="<%= asset_path('noscript.css') %>" /></noscript>
  </head>

  <%= yield %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</html>
